@model SecurityTest.Model.Enroll

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Grayscale - Start Bootstrap Theme</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/Content/bootstrap-special.css" rel="stylesheet" />
</head>
<body>
    <!------ Include the above in your HEAD tag ---------->
    @using (Html.BeginForm("Index", "Enrollment", FormMethod.Post))
    {
        <div class="form-group" style="margin-bottom:5px">
            @Html.TextBoxFor(e => e.UserName, new { @class = "form-control", placeholder = "UserName *" })
            @Html.ValidationMessageFor(e => e.UserName)
        </div>
        <div class="form-group" style="margin-bottom:5px">
            @Html.TextBoxFor(e => e.FullName, new { @class = "form-control", placeholder = "Full Name *" })
            @Html.ValidationMessageFor(e => e.FullName)
        </div>
        <div class="form-group" style="margin-bottom:5px">
            @Html.PasswordFor(e => e.Password, new { id = "password", @class = "form-control", placeholder = "Password *" })
            <span id="result"></span>
            @Html.ValidationMessageFor(e => e.Password)
        </div>
        <div class="form-group" style="margin-bottom:5px">
            @Html.PasswordFor(e => e.Confirmpwd, new { @class = "form-control", placeholder = "Confirm Password *" })
            @Html.ValidationMessageFor(e => e.Confirmpwd)
        </div>
        <div class="form-group" style="margin-bottom:5px">
            @Html.TextBoxFor(e => e.Email, new { @class = "form-control", placeholder = "Your Email *" })
            @Html.ValidationMessageFor(e => e.Email)
        </div>
        <div class="form-group" style="margin-bottom:5px">
            @Html.TextBoxFor(e => e.BirthDate, new { @class = "form-control", placeholder = "Your BirthDate in  yyyy-mm-dd Form*" })
            @Html.ValidationMessageFor(e => e.BirthDate)
        </div>
        <div class="form-group" style="margin-bottom:10px">
            <div class="maxl">
                @Html.RadioButtonFor(e => e.Gender, "Male", new { @class = "radio inline" })<span> Male </span>
                @Html.RadioButtonFor(e => e.Gender, "Female", new { @class = "radio inline" })<span>Female </span>
            </div>
        </div>
        <div class="form-group" style="margin-bottom:10px">
            <div class="col-auto"><button class="btn btn-primary" id="submitButton" type="submit">Register!</button></div>
        </div>
        <script type="text/javascript">

                                            $(function () {
                                            var msg = '@ViewData["result"]';
                                            if (msg == '1')
                                            {
                                                alert("User Details Inserted Successfully");
                                                window.location.href = "@Url.Action("Index", "Enrollment")";
                                                }
                                            });
        </script>
    }
</body>
</html>
