@model SecurityTest.Model.Enroll

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, user-scalable=yes" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Security S&Y</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/Content/bootstrap-special.css" rel="stylesheet" />
</head>
<body id="page-top">
    </div>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="#page-top">Start Testing</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="#login">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="#register">Register</a></li>
                    <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>

    
    <!-- Masthead-->
    <header class="masthead">
        <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
            <div class="d-flex justify-content-center">
                <div class="text-center">
                    <h1 class="mx-auto my-0 text-uppercase">Security S&Y</h1>
                    <h2 class="text-white-50 mx-auto mt-2 mb-5">We Are Looking To Make The World More Protected Place Using OUR TEST TECHNIQUES</h2>
                    <a class="btn btn-primary" href="#about">Get Started</a>
                </div>
            </div>
        </div>
    </header>
    <!-- About-->
    <section class="about-section text-center" id="about">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8">
                    <h2 class="text-white mb-4">
                        About Us
                    </h2>
                    <p class="text-white-50">
                        Our company founded in 2022 by two collage students who <br />
                        had to issues with security and they decided to start they own security website.
                        <br /> Our website is used to test coputers to find out if there is any viruses.
                    </p>
                </div>
            </div>
            <img class="img-fluid" src="~/img/ipad.png" alt="..." />
        </div>
    </section>
    <!-- Login and Register-->
    <section class="projects-section bg-light" id="login">
        <!-- Login-->
        <section class="signup-section" style="color: white; background-image: url('../../img/demo-image-01.jpg');" id="login">
            <div class="container px-4 px-lg-5" style="">
                <div class="row gx-4 gx-lg-5">
                    <div class="col-md-10 col-lg-8 mx-auto text-center">
                        <h2 class="text-white mb-5">Login</h2>
                        <div class="row input-group-newsletter">
                            @using (Html.BeginForm("IndexLogin", "Home", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-group" style="margin-bottom:5px">
                                    @Html.TextBoxFor(e => e.Email, new { @class = "form-control", placeholder = "Your Email *" })
                                    @Html.ValidationMessageFor(e => e.Email)
                                </div>
                                <div class="form-group" style="margin-bottom:5px">
                                    @Html.PasswordFor(e => e.Password, new { id = "password", @class = "form-control", placeholder = "Password *" })
                                    <span id="result"></span>
                                    @Html.ValidationMessageFor(e => e.Password)
                                </div>
                                <div class="form-group" style="margin-top:30px">
                                    <div class="col-auto"><button class="btn btn-primary" id="submitButton" type="submit">Login!</button></div>
                                </div>
                                <script type="text/javascript">

                                        $(function () {
                                                var msg = '@ViewData["result"]';
                                                if (msg == '1')
                                                {
                                                    alert("User Details Inserted Successfully");
                                                    window.location.href = "@Url.Action("IndexLogin", "Home")";
                                                }
                                            });
                                </script>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <br />
        <!-- Register-->
        <section class="register-section" style="color: white; background-image: url('../../img/demo-image-02.jpg'); " id="register">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5">
                    <div class="col-md-10 col-lg-8 mx-auto text-center">
                        <h2 class="text-white mb-5" style="color:black">Register</h2>
                        <div class="row input-group-newsletter">
                            @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                            {
                                <div class="form-group" style="margin-bottom:5px">
                                    @Html.TextBoxFor(e => e.UserName, new { @class = "form-control", placeholder = "UserName *" })
                                    @Html.ValidationMessageFor(e => e.UserName)
                                </div>
                                <div class="form-group" style="margin-bottom:5px">
                                    @Html.TextBoxFor(e => e.FullName, new { @class = "form-control", placeholder = "Full Name *" })
                                    @Html.ValidationMessageFor(e => e.FullName)
                                </div>
                                <div class="form-group" style="margin-bottom:5px">
                                    @Html.PasswordFor(e => e.Password, new { id = "password", @class = "form-control", placeholder = "Password *" })
                                    <span id="result"></span>
                                    @Html.ValidationMessageFor(e => e.Password)
                                </div>
                                <div class="form-group" style="margin-bottom:5px">
                                    @Html.PasswordFor(e => e.Confirmpwd, new { @class = "form-control", placeholder = "Confirm Password *" })
                                    @Html.ValidationMessageFor(e => e.Confirmpwd)
                                </div>
                                <div class="form-group" style="margin-bottom:5px">
                                    @Html.TextBoxFor(e => e.Email, new { @class = "form-control", placeholder = "Your Email *" })
                                    @Html.ValidationMessageFor(e => e.Email)
                                </div>
                                <div class="form-group" style="margin-bottom:5px">
                                    @Html.TextBoxFor(e => e.BirthDate, new { @class = "form-control", placeholder = "Your BirthDate in  yyyy-mm-dd Form*" })
                                    @Html.ValidationMessageFor(e => e.BirthDate)
                                </div>
                                <div class="form-group" style="margin-bottom:10px">
                                    <div class="maxl">
                                        @Html.RadioButtonFor(e => e.Gender, "Male", new { @class = "radio inline" })<span> Male </span>
                                        @Html.RadioButtonFor(e => e.Gender, "Female", new { @class = "radio inline" })<span>Female </span>
                                    </div>
                                </div>
                                <div class="form-group" style="margin-bottom:10px">
                                    <div class="col-auto"><button class="btn btn-primary" id="submitButton" type="submit">Register!</button></div>
                                </div>
                                <script type="text/javascript">

                                            $(function () {
                                            var msg = '@ViewData["result"]';
                                            if (msg == '1')
                                            {
                                                alert("User Details Inserted Successfully");
                                                window.location.href = "@Url.Action("Index", "Home")";
                                                }
                                            });
                                </script>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </section>
        </div>
    </section>
    <!-- Contact-->
    <section class="contact-section bg-black" id="contact">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Address</h4>
                            <hr class="my-4 mx-auto" />
                            <div class="small text-black-50">Maltepe, Istanbul.</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-envelope text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Email</h4>
                            <hr class="my-4 mx-auto" />
                            <div class="small text-black-50"><a href="mailto:yousralaklouk@gmail.com">yousralaklouk@gmail.com</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-mobile-alt text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Phone</h4>
                            <hr class="my-4 mx-auto" />
                            <div class="small text-black-50">+1 (555) 902-8832</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="social d-flex justify-content-center">
                <a class="mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                <a class="mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                <a class="mx-2" href="https://github.com/YousraAlaklouk/SecurityTest"><i class="fab fa-github"></i></a>
            </div>
        </div>
    </section>
    <!-- Footer-->
    <footer class="footer bg-black small text-center text-white-50"><div class="container px-4 px-lg-5">Copyright &copy; SECURITYS&Y 2022</div></footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="~/Scripts/scripts.js"></script>

    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</html>
